.cart a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}
.card-title{
    font-size: 18px;
}
.card-text {
 
    max-height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  button.btn a{
    color: #000000;
    text-decoration: none;
  }