*{
  padding: 0;
  margin: 0;
}

body ,ul ,li ,a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body{
  font-size: 15px;
}
.card-body button{
  margin-top: auto;
}
.card-title {
 
  max-height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
button.btn{
  font-size: 15px;
  font-weight: 500;
}
.filter{
  background: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
}
.filter ul li{
  padding: 3px 0;
  font-size: 14px;
}
